name: Release
on:
  push:
    tags:
      - "[0-9]*.[0-9]*"
  
permissions: {} 

jobs:
    build:
      runs-on: ubuntu-24.04-arm
      permissions:
        contents: write
        id-token: write
        attestations: write

      steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

        - name: Checkout code
          uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
          with:
            persist-credentials: false

        - name: Install deps
          run: |
            sudo apt-get update
            sudo apt-get install -y build-essential devscripts debhelper lintian

        - name: Build
          run: |
            bash run.sh
          
        - name: GitHub Attestations for binaries
          uses: actions/attest@ce27ba3b4a9a139d9a20a4a07d69fabb52f1e5bc # v2.4.0
          with:
            predicate-type: 'https://in-toto.io/attestation/release'
            predicate: '{}'
            subject-path: |
              *.deb

        - name: Release
          uses: softprops/action-gh-release@72f2c25fcb47643c292f7107632f7a47c1df5cd8 # v2.3.2
          if: github.ref_type == 'tag'
          with:
            files: "*.deb"
