name: Release
on:
  push:
    tags:
      - "[0-9]*.[0-9]*"
  
permissions: {} 

jobs:
    build:
      runs-on: ubuntu-24.04-arm
      permissions:
        contents: write
        id-token: write
        attestations: write

      steps:
        - name: Harden the runner (Audit all outbound calls)
          uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
          with:
            egress-policy: audit

        - name: Checkout code
          uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
          with:
            persist-credentials: false

        - name: Install deps
          run: |
            sudo apt-get update
            sudo apt-get install -y build-essential devscripts debhelper lintian

        - name: Build
          run: |
            bash run.sh
          
        - name: GitHub Attestations for binaries
          uses: actions/attest@daf44fb950173508f38bd2406030372c1d1162b1 # v3.0.0
          with:
            predicate-type: 'https://in-toto.io/attestation/release'
            predicate: '{}'
            subject-path: |
              *.deb

        - name: Release
          uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
          if: github.ref_type == 'tag'
          with:
            files: "*.deb"
            draft: true
